/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* generici */
body{
    background-color: rgb(139, 30, 72);
}

h2{
    color: white;
    margin: 20px 300px;
    font-size: 22px;
}



.your-ticket{
    margin-left: 450px;
}

/* contenitori */

.upper-container,
.lower-container{
    max-width: 992px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(77, 76, 76);
   
}    

.upper-container div{
    text-align: center;
}

.lower-container{
    margin-bottom: 20px;
    padding: 20px;
}

label{
    color: red;
    margin-bottom: 5px;
    display: block;
}
    
.upper-container{
    padding: 20px 100px;  
    display: flex;
    justify-content: center;
    height: 300px;
}

.input-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
}


.input-card{
    padding: 0 10px;
    
}


input,
select{
    margin-top: 5px;
    padding: 10px 15px;
    border: 2px solid rgb(139, 30, 72);
    border-radius: 5px;
}


button{
    padding: 5px 10px;
}

/* contenitore in basso */

.lower-container{
    height: 290px;
}

.passenger-name{
    background-color: gray;
}