/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* generici */
body{
    background-color: rgb(139, 30, 72);
}

h2{
    color: white;
    font-size: 22px;
}

.title-container{
    text-align: center;
    margin: 20px;
}

/* utili */
.card{
    padding: 0 10px;
}

.row{
    margin: 0 -10px;
}

/* contenitori */

main.container{
    max-width: 1080px;
    margin: 0 auto;
}    

.upper-container div{
    text-align: center;
}

.input-row,
.ticket-preview{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(77, 76, 76);
}





label{
    color: red;
    margin-bottom: 5px;
    display: block;
}
    
.upper-container{
    padding: 20px 100px;  
}

.input-row{
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.input-card{
    padding: 0 10px;
    flex-basis: calc(100% / 3);
    text-align: center;
}

.buttons-box{
    margin-top: 50px;
}

input,
select{
    margin-top: 5px;
    padding: 10px 15px;
    border: 2px solid rgb(139, 30, 72);
    border-radius: 5px;
}


button{
    padding: 5px 10px;
    border-radius: 5px;
}

/* contenitore in basso */

.ticket-box{
    display: flex;
}



.ticket-preview{
    padding: 20px;
}

.passenger-name{
    background-color: gray;
    padding: 20px 10px 50px 10px;
    flex-basis: 30%;
    text-align: center;
}

.ticket-info{
    flex-grow: 1;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.row{
    display: flex;
}

table{
    width: 100%;
}

th,
tr{
    flex-basis: 25%;
}